:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: 2em;
  line-height: 1.1;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  gap: 2rem;
}

.user-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.user-picker input {
  width: auto;
  min-width: 200px;
  padding: 0.5rem;
  font-size: 1rem;
}

.user-picker button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

.user-picker p {
  font-weight: 500;
}

.room-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.room-controls-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.room-controls input {
  width: auto;
  min-width: 200px;
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
}

.room-controls button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat-window {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 200px;
  max-height: 400px;
  max-width: 800px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-message {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.chat-username {
  font-weight: 500;
}

.chat-text {
  flex: 1;
}

.chat-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.chat-input-container input {
  width: auto;
  min-width: 200px;
  padding: 0.5rem;
  font-size: 1rem;
}

.chat-input-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
}
